

body{
    background-image:url("https://media.istockphoto.com/photos/concrete-grey-stone-background-with-polished-texture-picture-id1154735310?k=20&m=1154735310&s=612x612&w=0&h=jbkR6AOWFX9UfPV8iMoBIhQ8-8diLJULut-8Ywu87Cc=");
   
   
   
    background-size: cover;
    
  }
  
  
#rockMan{
	
   display:block;
   width:60%;
 	margin-left:auto;
 	margin-right:auto;
  
}