<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<meta content="ie=edge" http-equiv="X-UA-Compatible">
<title>Selection Page</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" href="css/list.css">
</head>
<body class="container">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/}">StoreSelector</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a th:href="@{/}">Home</a></li>
				<li class="active"><a th:href="@{/list}">Your List</a></li>
				<li><a th:href="@{/total}">Compare</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><span
						class="glyphicon glyphicon-log-in"></span> Logout</a></li>
			</ul>
		</div>
	</nav>
	<br>
	<br>
	<h2 class="align-middle text-center">Select the products you need
		below</h2>



	<h2 th:if="${message}" th:text="${message}"
		class="alert alert-success text-center"></h2>

	<div class="container">
		<div class="col-md-6">
			<h3 class="align-middle text-center">Available Items</h3>
			<table class="table table-bordered ">
				<tr class="ctitle">
					<th class="ctitle">Products</th>
					<th class="align-middle text-center ctitle">Actions</th>
				</tr>
				<tr th:if="${#lists.isEmpty(items)}">
					<td class="text-center" colspan="7">No Items found</td>
				</tr>
				<tr th:each="item : ${items}">

					<td class="align-middle" th:text="${item.name}"></td>

					<td class="align-middle text-center"><a
						class="btn btn-success" th:href="'/list/' + ${item.id}">add</a> <a
						class="btn btn-warning" th:href="'/list1/' + ${item.id}">remove</a></td>
				</tr>
			</table>
		</div>

		
		<div class="col-md-6">
			<h3 class="align-middle text-center">Your Cart</h3>
			<table class="table table-bordered ">
				<tr>

					<th class="align-middle text-center ctitle">Products</th>

					<th class="align-middle text-center ctitle">Quantity</th>
				</tr>
				<tr th:if="${#lists.isEmpty(cItems)}">
					<td class="text-center" colspan="7">No Items found</td>
				</tr>
				<tr th:each="item : ${cItems}">
					<td class="align-middle text-center" th:text="${item.item.name}"></td>
					<td class="align-middle text-center" th:text="${item.quantity}"></td>
				</tr>
			</table>
		</div>
	</div>
	<div class=" container align-middle" style="width: 20%">
		<a th:href="@{/total}" class="btn btn-primary ">Compare</a> <a
			th:href="@{/reset}" class="btn btn-danger ">Clear List</a>
	</div>
	 <script src="js/list.js"></script>
</body>
</html>