<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<meta
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
	name="viewport">
<meta content="ie=edge" http-equiv="X-UA-Compatible">
<title>List Display</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/}">StoreSelector</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a th:href="@{/}">Home</a></li>
				<li class="active"><a th:href="@{/list}">Your List</a></li>
				<li><a th:href="@{/total}">Compare</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><span
						class="glyphicon glyphicon-log-in"></span> Logout</a></li>
			</ul>
		</div>
	</nav>
	<form th:action="@{/total}" th:object="${item}" method="post">





		<h2>Products</h2>

		<!--    <th>Role</th>-->




		<div th:if="${#lists.isEmpty(items)}">
			<span class="text-center">No Items found</span>
		</div>
		<div th:each="item : ${items}" class=container>
			<div class="btn btn-primary d-inline"
				th:href="'/list1/' + ${item.name}" th:text="${item.name}"></div>

		</div>

	</form>

	<form th:action="@{/total}" th:object="${storetotal}" method="post">
		<table class="table table-striped table-bordered ">
			<tr>

				<th>Store name</th>
				<th>Total Price</th>
				<th>Missing items</th>
			</tr>

			<tr th:each="store : ${storetotal}">

				<td class="align-middle" th:text="${store.key}"></td>

				<td class="align-middle" th:text="${store.value}"></td>
				<td class="align-middle"><a class="btn btn-secondary"
					th:href="'/invchk/' + ${store.key}">What's Missing?</a></td>
				<!--     <td class="align-middle"  th:text="${@total(store.id)}"></td>  -->

			</tr>
		</table>
	</form>
	<p th:if="${message}" th:text="${message}"
		class="alert alert-success text-center"></p>


</body>
</html>