<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<meta
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
	name="viewport">
<meta content="ie=edge" http-equiv="X-UA-Compatible">
<title>List Display</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" href="css/total.css"/>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/}">StoreSelector</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a th:href="@{/}">Home</a></li>
				<li ><a th:href="@{/list}">Your List</a></li>
				<li class="active"><a th:href="@{/total}">Compare</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><span
						class="glyphicon glyphicon-log-in"></span> Logout</a></li>
			</ul>
		</div>
	</nav>
	<br>
	<br>
	<br>
	<br>


		<h1 class="text-center">Compare and Save</h1>
<br>
<br>
		<div th:if="${#lists.isEmpty(items)}">
			<h3 class="text-center align-middle">Your List Is Empty</h3>
		</div>
		<div th:each="item : ${citems}" class="itemlist" >
			<div class="col-md-2 align-middle text-center item"> 
			<div class="btn btn-info" th:text="${item.toString}"><div>
			</div>
			</div>
		</div>
		</div>
<br/>
<br/>
<br/>


		<table class="table table-bordered tablemargin">
			<tr>

				<th class="align-middle text-center" >Store Name</th>
				<th class="align-middle text-center" >Total Price</th>
				<th class="align-middle text-center" >Missing Items</th>
			</tr>

				<tr th:each="store : ${storetotal}">

					<td class="align-middle text-center"><div  class="btn btn-success" th:text="${store.key}" ></div></td>

				<td class="align-middle text-center" th:text="${store.value}"></td>
				<td class="align-middle text-center"><a class="btn btn-info"
					th:href="'/invchk/' + ${store.key}">What's Missing?</a></td>

			</tr>
		</table>
	
	<br/>
	<br/>
	<br/>
	<div>
	<p  th:if="${message}" th:text="${message}"
		class=" alert  alert-success text-center"></p>
		
		</div>




</body>
</html>